.laptop{
    text-decoration: none;
    text-align: center;
}

.laptop-title{
    display: inline-block;
    text-decoration: none;
    color:var(--text-color);
    padding-bottom: 13px;
    line-height: 21px;
    vertical-align: middle;
}

.laptop-icon{
    width: 20px;
    display: inline;
}